doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body
    block content

    script(src="https://www.gstatic.com/firebasejs/8.3.2/firebase-app.js")
    script(src="https://www.gstatic.com/firebasejs/8.3.2/firebase-analytics.js")

